{% extends 'layout_admin.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'history_promotion.css' %}">

<div class = 'view'>
    <div class="flex1" >
        <h3 style="font-family:Baloo;color: #6EA6E2;">History  Promotion</h3> 
    </div>
    <hr style="margin-top: -2px; width: 90%;margin-left: 3.5%; height: 2px;background-color:rgb(100, 98, 98)">
    <div class="flex2">
        <div class="flex4" style="overflow: auto;">
            <table class="table table-hover" style="font-family: Baloo;  ">
                <thead>
                    <tr style="font-size: 18px; ">
                        <th scope="col"class='font'>Promotion Name</th>
                        <th scope="col">Type</th>
                        <th scope="col" >Date</th>
                        <th scope="col">By</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody  style="font-size: 15px; color: #8E8C8C;">
                    {% for i in data %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.types}}</td>
                        <th scope="row">{{i.start_date}} - {{i.end_date}}</th>
                        <td >{{i.by}}</td>
                        <td ><button onclick = "location.href='/promotion/history/{{i.id}}/'"  class="btn btn-primary" type="button">view</button></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>

    
    <div class="flex3">
        <div class="flex5">
             <a href="/promotion/" class="backbn" style="text-decoration:none; text-align: center;" ><p style="padding-top: 5%">Back</p></a>
        </div>
     
    </div>
     

</div>
{% endblock %}

 